.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content */
  .modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 85%;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
  }
  .modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .modal-content3 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .modal-content4 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

 body{
  background-image: url("bgphoto.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
 }
 h1.header1{
  margin-top: 300px;
  font-size: 80px;
  font-style: Sans-serif;
  color: #000000;
  
 }
 img.logo{
  border-radius: 8px;
  float: left;
 }

.modal-content1 label{
  font-weight: bold;
  margin-left: 100px;
}
.modal-content1 input{
  width: calc(50% - 20px);
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
}
.modal-content1 button[type=submit]{
  padding: 1px;
  border: 1;
  border-radius: 5px;
  cursor: pointer;
}
.tbl{
  background-image: linear-gradient( to right,#D2CCC4,#2F4353);
}
.header1{
  font-weight: bold;
  font-style: normal;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
table{
  width: 100%;
}